.sidebar{
    width: 20%;
    height: 500px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 75px;
}

.link {
    padding:10px;
    border: 0;
    border-bottom: solid ;
    border-color: silver ;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .sidebar {
      width: 30%;
      height: auto;
      position: inherit;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .sidebar {
        display: none;
    }
}